---
import Navbar from "@components/Navbar.vue";
import Footer from "@components/Footer.vue";

import type { Frontmatter } from '@components/mdx.types';

export interface Props {
	title: string;
}

const projects = await Astro.glob<Frontmatter>('../pages/projects/*.mdx');

const { title } = Astro.props as Props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>

		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
	</head>
	<body class="bg-neutral-100">
		<Navbar client:only="vue" />

		<div class="lg:container lg:mx-auto">
			<div class="grid grid-cols-1 md:grid-cols-6 md:gap-3 lg:grid-cols-8">
				<div class="hidden md:flex md:flex-col md:col-span-2 md:p-2">
					<div class="p-1">
						<ul>
							<li>
								<a
									href="/"
									class="flex items-center p-1.5 text-gray-900 hover:bg-blue-100 rounded hover:text-blue-500"
								>
									<svg
										xmlns="http://www.w3.org/2000/svg"
										viewBox="0 0 44 44"
										width="24"
										height="24"
									>
										<g class="nc-icon-wrapper">
											<path
												fill="#A0041E"
												d="M13.344 18.702h-2a.5.5 0 01-.5-.5v-7a.5.5 0 01.5-.5h2a.5.5 0 01.5.5v7a.5.5 0 01-.5.5z"
											></path>
											<path fill="#FFE8B6" d="M9 20L22 7l13 13v17H9z"></path>
											<path fill="#FFCC4D" d="M22 20h1v16h-1z"></path>
											<path
												fill="#66757F"
												d="M35 21a.997.997 0 01-.707-.293L22 8.414 9.707 20.707a1 1 0 11-1.414-1.414l13-13a.999.999 0 011.414 0l13 13A.999.999 0 0135 21z"
											></path>
											<path
												fill="#66757F"
												d="M22 21a.999.999 0 01-.707-1.707l6.5-6.5a1 1 0 111.414 1.414l-6.5 6.5A.997.997 0 0122 21z"
											></path>
											<path fill="#C1694F" d="M14 30h4v6h-4z"></path>
											<path
												fill="#55ACEE"
												d="M14 21h4v4h-4zm12.5 0h4v4h-4zm0 9h4v4h-4z"
											></path>
											<path
												fill="#5C913B"
												d="M37.5 37.5A1.5 1.5 0 0136 39H8a1.5 1.5 0 010-3h28a1.5 1.5 0 011.5 1.5z"
											></path>
										</g>
									</svg>
	
									<span class="text-base font-roboto ml-2">Home</span>
								</a>
							</li>
							<li>
								<a
									href="/"
									class="flex items-center p-1.5 text-gray-900 hover:bg-blue-100 rounded hover:text-blue-500"
								>
									<svg
										xmlns="http://www.w3.org/2000/svg"
										viewBox="0 0 44 44"
										width="24"
										height="24"
									>
										<g class="nc-icon-wrapper">
											<path
												fill="#FFD983"
												d="M36.017 24.181L21.345 9.746C20.687 9.087 19.823 9 18.96 9H8.883C7.029 9 6 10.029 6 11.883v10.082c0 .861.089 1.723.746 2.38L21.3 39.017a3.287 3.287 0 004.688 0l10.059-10.088c1.31-1.312 1.28-3.438-.03-4.748zm-23.596-8.76a1.497 1.497 0 11-2.118-2.117 1.497 1.497 0 012.118 2.117z"
											></path>
											<path
												fill="#D99E82"
												d="M13.952 11.772a3.66 3.66 0 00-5.179 0 3.663 3.663 0 105.18 5.18 3.664 3.664 0 00-.001-5.18zm-1.53 3.65a1.499 1.499 0 11-2.119-2.12 1.499 1.499 0 012.119 2.12z"
											></path>
											<path
												fill="#C1694F"
												d="M12.507 14.501a1 1 0 11-1.415-1.414l8.485-8.485a1 1 0 111.415 1.414l-8.485 8.485z"
											></path>
										</g>
									</svg>
	
									<span class="text-base font-roboto ml-2">Tags</span>
								</a>
							</li>
							<li>
								<a
									href="/"
									class="flex items-center p-1.5 text-gray-900 hover:bg-blue-100 rounded hover:text-blue-500"
								>
									<svg
										xmlns="http://www.w3.org/2000/svg"
										viewBox="0 0 44 44"
										width="24"
										height="24"
									>
										<g class="nc-icon-wrapper">
											<path
												fill="#FFD983"
												d="M33 15.06c0 6.439-5 7.439-5 13.44 0 3.098-3.123 3.359-5.5 3.359-2.053 0-6.586-.779-6.586-3.361C15.914 22.5 11 21.5 11 15.06c0-6.031 5.285-10.92 11.083-10.92C27.883 4.14 33 9.029 33 15.06z"
											></path>
											<path
												fill="#CCD6DD"
												d="M26.167 36.5c0 .828-2.234 2.5-4.167 2.5-1.933 0-4.167-1.672-4.167-2.5 0-.828 2.233-.5 4.167-.5 1.933 0 4.167-.328 4.167.5z"
											></path>
											<path
												fill="#FFCC4D"
												d="M26.707 14.293a.999.999 0 00-1.414 0L22 17.586l-3.293-3.293a1 1 0 10-1.414 1.414L21 19.414V30a1 1 0 102 0V19.414l3.707-3.707a.999.999 0 000-1.414z"
											></path>
											<path
												fill="#99AAB5"
												d="M28 35a2 2 0 01-2 2h-8a2 2 0 01-2-2v-6h12v6z"
											></path>
											<path
												fill="#CCD6DD"
												d="M15.999 36a1 1 0 01-.163-1.986l12-2a.994.994 0 011.15.822.999.999 0 01-.822 1.15l-12 2a.927.927 0 01-.165.014zm0-4a1 1 0 01-.163-1.986l12-2a.995.995 0 011.15.822.999.999 0 01-.822 1.15l-12 2a.927.927 0 01-.165.014z"
											></path>
										</g>
									</svg>
	
									<span class="text-base font-roboto ml-2">FAQ</span>
								</a>
							</li>
						</ul>
					</div>
	
					<div class="p-1 mt-5">
						<span class="text-lg text-gray-900 font-roboto font-semibold ml-1"
							>Other</span
						>
						<ul>
							<li>
								<a
									href="/"
									class="flex items-center p-1.5 text-gray-900 hover:bg-blue-100 rounded hover:text-blue-500"
								>
									<svg
										xmlns="http://www.w3.org/2000/svg"
										viewBox="0 0 44 44"
										width="24"
										height="24"
									>
										<g class="nc-icon-wrapper">
											<path
												fill="#FFDB5E"
												d="M38.956 21.916c0-.503-.12-.975-.321-1.404-1.341-4.326-7.619-4.01-16.549-4.221-1.493-.035-.639-1.798-.115-5.668.341-2.517-1.282-6.382-4.01-6.382-4.498 0-.171 3.548-4.148 12.322-2.125 4.688-6.875 2.062-6.875 6.771v10.719c0 1.833.18 3.595 2.758 3.885 2.499.281 1.937 2.062 5.542 2.062h18.044a3.337 3.337 0 003.333-3.334c0-.762-.267-1.456-.698-2.018 1.02-.571 1.72-1.649 1.72-2.899 0-.76-.266-1.454-.696-2.015 1.023-.57 1.725-1.649 1.725-2.901 0-.909-.368-1.733-.961-2.336a3.311 3.311 0 001.251-2.581z"
											></path>
											<path
												fill="#EE9547"
												d="M27.02 25.249h8.604c1.17 0 2.268-.626 2.866-1.633a.876.876 0 00-1.506-.892 1.588 1.588 0 01-1.361.775h-8.81c-.873 0-1.583-.71-1.583-1.583s.71-1.583 1.583-1.583H32.7a.875.875 0 000-1.75h-5.888a3.337 3.337 0 00-3.333 3.333c0 1.025.475 1.932 1.205 2.544a3.32 3.32 0 00-.998 2.373c0 1.028.478 1.938 1.212 2.549a3.318 3.318 0 00.419 5.08 3.305 3.305 0 00-.852 2.204 3.337 3.337 0 003.333 3.333h5.484a3.35 3.35 0 002.867-1.632.875.875 0 00-1.504-.894 1.594 1.594 0 01-1.363.776h-5.484c-.873 0-1.583-.71-1.583-1.583s.71-1.583 1.583-1.583h6.506a3.35 3.35 0 002.867-1.633.875.875 0 10-1.504-.894 1.572 1.572 0 01-1.363.777h-7.063a1.585 1.585 0 010-3.167h8.091a3.35 3.35 0 002.867-1.632.875.875 0 00-1.504-.894 1.573 1.573 0 01-1.363.776H27.02a1.585 1.585 0 010-3.167z"
											></path>
										</g>
									</svg>
	
									<span class="text-base font-roboto ml-2">Code of Conduct</span>
								</a>
							</li>
							<li>
								<a
									href="/"
									class="flex items-center p-1.5 text-gray-900 hover:bg-blue-100 rounded hover:text-blue-500"
								>
									<svg
										xmlns="http://www.w3.org/2000/svg"
										viewBox="0 0 44 44"
										width="24"
										height="24"
									>
										<g transform="translate(4 4)">
											<circle fill="#FFCC4D" cx="18" cy="18" r="18"></circle>
											<path
												fill="#664500"
												d="M27.335 23.629a.501.501 0 00-.635-.029c-.039.029-3.922 2.9-8.7 2.9-4.766 0-8.662-2.871-8.7-2.9a.5.5 0 10-.729.657C8.7 24.472 11.788 29.5 18 29.5s9.301-5.028 9.429-5.243a.499.499 0 00-.094-.628z"
											></path>
											<path
												fill="#65471B"
												d="M18 26.591c-.148 0-.291-.011-.438-.016v4.516h.875v-4.517c-.145.005-.289.017-.437.017z"
											></path>
											<path
												fill="#FFF"
												d="M22 26c.016-.004-1.45.378-2.446.486-.366.042-.737.076-1.117.089v4.517H20c1.1 0 2-.9 2-2V26zm-8 0c-.016-.004 1.45.378 2.446.486.366.042.737.076 1.117.089v4.517H16c-1.1 0-2-.9-2-2V26z"
											></path>
											<path
												fill="#65471B"
												d="M27.335 23.629a.501.501 0 00-.635-.029c-.03.022-2.259 1.668-5.411 2.47-.443.113-1.864.43-3.286.431-1.424 0-2.849-.318-3.292-.431-3.152-.802-5.381-2.448-5.411-2.47a.501.501 0 00-.729.657c.097.162 1.885 3.067 5.429 4.481v-1.829c-.016-.004 1.45.378 2.446.486.366.042.737.076 1.117.089.146.005.289.016.437.016.148 0 .291-.011.438-.016.38-.013.751-.046 1.117-.089.996-.108 2.462-.49 2.446-.486v1.829c3.544-1.414 5.332-4.319 5.429-4.481a.5.5 0 00-.095-.628zm-.711-9.605c0 1.714-.938 3.104-2.096 3.104-1.157 0-2.096-1.39-2.096-3.104s.938-3.104 2.096-3.104c1.158 0 2.096 1.39 2.096 3.104zm-17.167 0c0 1.714.938 3.104 2.096 3.104 1.157 0 2.096-1.39 2.096-3.104s-.938-3.104-2.096-3.104c-1.158 0-2.096 1.39-2.096 3.104z"
											></path>
											<path
												fill="#292F33"
												d="M34.808 9.627c-.171-.166-1.267.274-2.376-.291-2.288-1.166-8.07-2.291-11.834.376-.403.285-2.087.333-2.558.313-.471.021-2.155-.027-2.558-.313-3.763-2.667-9.545-1.542-11.833-.376-1.109.565-2.205.125-2.376.291-.247.239-.247 1.196.001 1.436.246.239 1.477.515 1.722 1.232.247.718.249 4.958 2.213 6.424 1.839 1.372 6.129 1.785 8.848.238 2.372-1.349 2.289-4.189 2.724-5.881.155-.603.592-.907 1.26-.907s1.105.304 1.26.907c.435 1.691.351 4.532 2.724 5.881 2.719 1.546 7.009 1.133 8.847-.238 1.965-1.465 1.967-5.706 2.213-6.424.245-.717 1.476-.994 1.722-1.232.248-.24.249-1.197.001-1.436zm-20.194 3.65c-.077 1.105-.274 3.227-1.597 3.98-.811.462-1.868.743-2.974.743h-.001c-1.225 0-2.923-.347-3.587-.842-.83-.619-1.146-3.167-1.265-4.12-.076-.607-.28-2.09.388-2.318 1.06-.361 2.539-.643 4.052-.643.693 0 3.021.043 4.155.741 1.005.617.872 1.851.829 2.459zm16.278-.253c-.119.954-.435 3.515-1.265 4.134-.664.495-2.362.842-3.587.842h-.001c-1.107 0-2.163-.281-2.975-.743-1.323-.752-1.52-2.861-1.597-3.966-.042-.608-.176-1.851.829-2.468 1.135-.698 3.462-.746 4.155-.746 1.513 0 2.991.277 4.052.638.668.228.465 1.702.389 2.309z"
											></path>
										</g>
									</svg>
	
									<span class="text-base font-roboto ml-2">Privacy Policy</span>
								</a>
							</li>
							<li>
								<a
									href="/"
									class="flex items-center p-1.5 text-gray-900 hover:bg-blue-100 rounded hover:text-blue-500"
								>
									<svg
										xmlns="http://www.w3.org/2000/svg"
										viewBox="0 0 44 44"
										width="24"
										height="24"
									>
										<g transform="translate(4 4)">
											<ellipse
												fill="#F5F8FA"
												cx="8.828"
												cy="18"
												rx="7.953"
												ry="13.281"
											></ellipse>
											<path
												fill="#E1E8ED"
												d="M8.828 32.031C3.948 32.031.125 25.868.125 18S3.948 3.969 8.828 3.969 17.531 10.132 17.531 18s-3.823 14.031-8.703 14.031zm0-26.562C4.856 5.469 1.625 11.09 1.625 18s3.231 12.531 7.203 12.531S16.031 24.91 16.031 18 12.8 5.469 8.828 5.469z"
											></path>
											<circle fill="#8899A6" cx="6.594" cy="18" r="4.96"></circle>
											<circle
												fill="#292F33"
												cx="6.594"
												cy="18"
												r="3.565"
											></circle>
											<circle
												fill="#F5F8FA"
												cx="7.911"
												cy="15.443"
												r="1.426"
											></circle>
											<ellipse
												fill="#F5F8FA"
												cx="27.234"
												cy="18"
												rx="7.953"
												ry="13.281"
											></ellipse>
											<path
												fill="#E1E8ED"
												d="M27.234 32.031c-4.88 0-8.703-6.163-8.703-14.031s3.823-14.031 8.703-14.031S35.938 10.132 35.938 18s-3.824 14.031-8.704 14.031zm0-26.562c-3.972 0-7.203 5.622-7.203 12.531 0 6.91 3.231 12.531 7.203 12.531S34.438 24.91 34.438 18 31.206 5.469 27.234 5.469z"
											></path>
											<circle fill="#8899A6" cx="25" cy="18" r="4.96"></circle>
											<circle fill="#292F33" cx="25" cy="18" r="3.565"></circle>
											<circle
												fill="#F5F8FA"
												cx="26.317"
												cy="15.443"
												r="1.426"
											></circle>
										</g>
									</svg>
	
									<span class="text-base font-roboto ml-2">Terms of use</span>
								</a>
							</li>
						</ul>
					</div>
	
					<div class="-ml-1 mt-5 flex items-center justify-around">
						<a href="#" class="group p-2 rounded-md hover:bg-blue-100">
							<svg
								xmlns="http://www.w3.org/2000/svg"
								width="24"
								height="24"
								viewBox="0 0 24 24"
								role="img"
								aria-labelledby="af5wbhkb2zmh0jpmb35w7vuov4rwzzbe"
								class="fill-grey-700 group-hover:fill-blue-600"
							>
								<title id="af5wbhkb2zmh0jpmb35w7vuov4rwzzbe">Twitter</title>
								<path
									d="M22.162 5.656a8.383 8.383 0 01-2.402.658A4.196 4.196 0 0021.6 4c-.82.488-1.719.83-2.656 1.015a4.182 4.182 0 00-7.126 3.814 11.874 11.874 0 01-8.62-4.37 4.168 4.168 0 00-.566 2.103c0 1.45.738 2.731 1.86 3.481a4.168 4.168 0 01-1.894-.523v.052a4.185 4.185 0 003.355 4.101 4.211 4.211 0 01-1.89.072A4.185 4.185 0 007.97 16.65a8.395 8.395 0 01-6.191 1.732 11.83 11.83 0 006.41 1.88c7.693 0 11.9-6.373 11.9-11.9 0-.18-.005-.362-.013-.54a8.495 8.495 0 002.087-2.165l-.001-.001z"
								></path>
							</svg>
						</a>
	
						<a href="#" class="group p-2 rounded-md hover:bg-blue-100">
							<svg
								xmlns="http://www.w3.org/2000/svg"
								width="24"
								height="24"
								viewBox="0 0 24 24"
								role="img"
								aria-labelledby="aebb0e3w75p1r2hi9li0dxvkehtn0w3k"
								class="fill-grey-700 group-hover:fill-blue-600"
							>
								<title id="aebb0e3w75p1r2hi9li0dxvkehtn0w3k">Facebook</title>
								<path
									d="M15.402 21v-6.966h2.333l.349-2.708h-2.682V9.598c0-.784.218-1.319 1.342-1.319h1.434V5.857a19.188 19.188 0 00-2.09-.107c-2.067 0-3.482 1.262-3.482 3.58v1.996h-2.338v2.708h2.338V21H4a1 1 0 01-1-1V4a1 1 0 011-1h16a1 1 0 011 1v16a1 1 0 01-1 1h-4.598z"
								></path>
							</svg>
						</a>
	
						<a href="#" class="group p-2 rounded-md hover:bg-blue-100">
							<svg
								xmlns="http://www.w3.org/2000/svg"
								width="24"
								height="24"
								viewBox="0 0 24 24"
								role="img"
								aria-labelledby="ag39jtlbjf2fmusjp0w2clx7petduojo"
								class="fill-grey-700 group-hover:fill-blue-600"
							>
								<title id="ag39jtlbjf2fmusjp0w2clx7petduojo">Github</title>
								<path
									d="M12 2C6.475 2 2 6.475 2 12a9.994 9.994 0 006.838 9.488c.5.087.687-.213.687-.476 0-.237-.013-1.024-.013-1.862-2.512.463-3.162-.612-3.362-1.175-.113-.288-.6-1.175-1.025-1.413-.35-.187-.85-.65-.013-.662.788-.013 1.35.725 1.538 1.025.9 1.512 2.338 1.087 2.912.825.088-.65.35-1.087.638-1.337-2.225-.25-4.55-1.113-4.55-4.938 0-1.088.387-1.987 1.025-2.688-.1-.25-.45-1.275.1-2.65 0 0 .837-.262 2.75 1.026a9.28 9.28 0 012.5-.338c.85 0 1.7.112 2.5.337 1.912-1.3 2.75-1.024 2.75-1.024.55 1.375.2 2.4.1 2.65.637.7 1.025 1.587 1.025 2.687 0 3.838-2.337 4.688-4.562 4.938.362.312.675.912.675 1.85 0 1.337-.013 2.412-.013 2.75 0 .262.188.574.688.474A10.016 10.016 0 0022 12c0-5.525-4.475-10-10-10z"
								></path>
							</svg>
						</a>
	
						<a href="#" class="group p-2 rounded-md hover:bg-blue-100">
							<svg
								xmlns="http://www.w3.org/2000/svg"
								width="24"
								height="24"
								viewBox="0 0 24 24"
								role="img"
								aria-labelledby="a66pokcqxlxyttmx4abc36fogdrqkv7s"
								class="fill-grey-700 group-hover:fill-blue-600"
							>
								<title id="a66pokcqxlxyttmx4abc36fogdrqkv7s">Instagram</title>
								<path
									d="M12 2c2.717 0 3.056.01 4.122.06 1.065.05 1.79.217 2.428.465.66.254 1.216.598 1.772 1.153.509.5.902 1.105 1.153 1.772.247.637.415 1.363.465 2.428.047 1.066.06 1.405.06 4.122 0 2.717-.01 3.056-.06 4.122-.05 1.065-.218 1.79-.465 2.428a4.883 4.883 0 01-1.153 1.772c-.5.508-1.105.902-1.772 1.153-.637.247-1.363.415-2.428.465-1.066.047-1.405.06-4.122.06-2.717 0-3.056-.01-4.122-.06-1.065-.05-1.79-.218-2.428-.465a4.89 4.89 0 01-1.772-1.153 4.904 4.904 0 01-1.153-1.772c-.248-.637-.415-1.363-.465-2.428C2.013 15.056 2 14.717 2 12c0-2.717.01-3.056.06-4.122.05-1.066.217-1.79.465-2.428a4.88 4.88 0 011.153-1.772A4.897 4.897 0 015.45 2.525c.638-.248 1.362-.415 2.428-.465C8.944 2.013 9.283 2 12 2zm0 5a5 5 0 100 10 5 5 0 000-10zm6.5-.25a1.25 1.25 0 10-2.5 0 1.25 1.25 0 002.5 0zM12 9a3 3 0 110 6 3 3 0 010-6z"
								></path>
							</svg>
						</a>
	
						<a href="#" class="group p-2 rounded-md hover:bg-blue-100">
							<svg
								xmlns="http://www.w3.org/2000/svg"
								width="24"
								height="24"
								viewBox="0 0 24 24"
								role="img"
								aria-labelledby="ao2kznfbxnt4e6fvvlkg8cty4l8yfp0"
								class="fill-grey-700 group-hover:fill-blue-600"
							>
								<title id="ao2kznfbxnt4e6fvvlkg8cty4l8yfp0">Twitch</title>
								<path
									d="M4.3 3H21v11.7l-4.7 4.7h-3.9l-2.5 2.4H7v-2.4H3V6.2L4.3 3zM5 17.4h4v2.4h.095l2.5-2.4h3.877L19 13.872V5H5v12.4zM15 8h2v4.7h-2V8zm0 0h2v4.7h-2V8zm-5 0h2v4.7h-2V8z"
								></path>
							</svg>
						</a>
					</div>
				</div>
				<div class="col-span-6 md:col-span-4">
					<div class="flex p-1">
						<a href="#" class="py-2 px-3 rounded-md hover:bg-white hover:text-blue-600 text-lg text-gray-900 font-roboto font-bold">Latest</a>
					</div>
			
					<slot />
				</div>
				<div class="hidden lg:flex lg:flex-col lg:col-span-2 lg:p-2 lg:pt-5">
					<!-- SHOWCASE -->
					<div class="rounded-md bg-gray-50 border border-gray-900 border-opacity-10 p-3 px-0">
						<div class="flex items-center justify-between mb-2 px-3">
							<h3 class="text-lg font-roboto font-bold text-gray-700">Showcase</h3>
	
							<a href="#" class="text-xs text-blue-600 font-roboto font-medium">See all</a>
						</div>
	
						{projects.map((project, projectIdx) => (
							<a href={project.url} class="flex flex-col border-y border-gray-200 hover:bg-white p-3">
								<span class="text-base text-gray-900 font-roboto font-medium">{project.frontmatter.title}</span>
								<span class="text-xs text-gray-400 font-robot">by {project.frontmatter.author}</span>
							</a>
						))}
	
						<div class="px-3 pt-3">
							<a href="#" class="block bg-blue-600 rounded-md text-center text-white font-roboto text-sm py-2">Submit Your Showcase!</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<Footer />
	</body>
</html>